* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body{
	background-image: url(jj.jpg);

    background-color: lightgray;
    background-blend-mode: multiply;
    	overflow-y: hidden ;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	position: relative;
	background-attachment: fixed;


}

.timer__trial {
    display: flex;
    justify-content: space-between;
    text-align: end;
    color: white;
    margin-top: 10rem;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px;
}


.word {
    text-align: center;
    color: white;
    margin-bottom: 1.5rem;
    margin-top: 4rem;
    font-size: 3rem;
}


.input__field > input[type='text'] {
    height: 45px;
    width: 40%;
    margin-bottom: 1rem;
    color: black;
    font-size: 30px;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.759);
    box-shadow: 6px 6px 6px rgb(52 116 155);
    border-radius: 10px;
    border: none;
    text-align: center;
    margin-left: 2rem;
}

.input__field {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.input__field > input[type='button'] {
    padding: 10px;
    border-radius: 10px;
    border: none;
    background-color: rgb(0 59 126);
    font-size: 3;
    color: white;
    height: 50px;
    width: 100px;
}
    
  




.message{
	margin-top: 2rem;
    text-align: center;
    font-size: 4rem;
    color: #ffe7fc;
    height: 4.5rem;
    background-color: #00000075;
    width: 800px;
    margin-left: 20rem;
}
}




/* media querries */

